.green {
  width: 100px;
  height: 50px;
  background-color: green;
}

.red {
  width: 100px;
  height: 50px;
  background-color: red;
}

.button {
  width: 60px;
  height: 30px;
  /* background-color:rgb(14, 218, 245); */
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
}

.div2 {
  margin-left: 10px;
}

.App1 {
  background-color: darkturquoise;
}

h3 {
  text-align: center;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 20px;
}

.div3 {
  text-align: center;
}
